@import url(https://fonts.googleapis.com/css?family=Lato:300);

.login {
  width: 500px;
  padding: 10% 0 0;
  margin: auto;
}
body {
    background: #3d3d3d; 
    font-family: "Lato", sans-serif;     
  }